# Laboratory #1 algorithms

## Data types and data structures

### Basic data types

#### Strings

In [57]:
print('-----------------------------------')

string_1 = 'hello'
string_2 = "potatoes"
string_3 = '100'
string_4 = "1.234"

#string identification
'''The type of string members is str'''
print(type(string_1))
print(type(string_2))
print(type(string_3))
print(type(string_4))

print('-----------------------------------')

# string concatenation
'''Is possible to concaternate any number of strings by using
   the operator +'''
concatenated_string = string_1 + ' ' + string_2
print(concatenated_string)

print('-----------------------------------')

'''Is possible to repetively concatenate strings by using the
   operator *'''
# advance string concatenation
advance_concatenated_string = (string_1 + ' ')*2 + string_2
print(advance_concatenated_string)

print('-----------------------------------')

# string access
'''Is possible to access a specific character in a string
   by using the access operator [], the index start from 0'''
print(string_1[0])
print(string_1[1])
print(string_1[2])
print(string_1[3])
print(string_1[4])

print('-----------------------------------')

# string slicing
'''Is possible to slice a string in very different ways 
   by using the access operator [] and the operator :'''
end_sliced_string = string_2[:3]
start_sliced_string = string_2[4:]
mid_sliced_string = string_2[3:5]
step_sliced_string = string_2[::2]
other_step_sliced_string = string_2[1::2]
print(end_sliced_string)
print(start_sliced_string)
print(mid_sliced_string)
print(step_sliced_string)
print(other_step_sliced_string)

print('-----------------------------------')

# string operations

string_a = 'potatoes with salt'

# replace all 'o' with 'e'
print(string_a.replace('o', 'e'))

print('-----------------------------------')

# count the number of 't' in the string
print(string_a.count('t'))

print('-----------------------------------')

# give the index of the first intance of 't'
print(string_a.find('t'))
print(string_a[string_a.find('t')])

print('-----------------------------------')

# string formatting

#the recommended way to format strings now is

a_word = 'potatoes'
b_number = 345

# extra tip multiline strings and docstring style comments are written
# using '''

string_formatted = f'''at the end i would had wrotten {a_word}
{b_number} times'''

print(string_formatted)

-----------------------------------
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
-----------------------------------
hello potatoes
-----------------------------------
hello hello potatoes
-----------------------------------
h
e
l
l
o
-----------------------------------
pot
toes
at
ptte
oaos
-----------------------------------
petatees with salt
-----------------------------------
4
-----------------------------------
2
t
-----------------------------------
at the end i would had wrotten potatoes
345 times

#### Integers

In [58]:
print('-----------------------------------')

# integer identification
'''The type of string member is int'''
print(type(121))
print(type(2))
print(type(-3))
print(type(-2000))

print('-----------------------------------')

# integer operators
added_int = 10 + 2
subtracted_int = 10 - 2
multiplied_int = 10 * 2
'''In particular division always return a float, for integer result
   use the floor division'''
divided_int = 10 / 2
# pow operator in python
powered_int = 10 ** 2
# module operator python
moduled_int = 11 % 5
# floor division python
floor_divided_int = 11//2

print('10 + 2')
print(added_int)
print()
print('10 - 2')
print(subtracted_int)
print()
print('10 * 2')
print(multiplied_int)
print()
print('10 / 2')
print(divided_int)
print()
print('10 ** 2')
print(powered_int)
print()
print('11 % 5')
print(moduled_int)
print()
print('11 // 2')
print(floor_divided_int)

print('-----------------------------------')

-----------------------------------
<class 'int'>
<class 'int'>
<class 'int'>
<class 'int'>
-----------------------------------
10 + 2
12

10 - 2
8

10 * 2
20

10 / 2
5.0

10 ** 2
100

11 % 5
1

11 // 2
5
-----------------------------------

#### Floats

In [59]:
print('-----------------------------------')

# float identification
'''The type of string member is float'''
print(type(122.54))
print(type(2.34))
print(type(0.0))
print(type(-126.34))

print('-----------------------------------')

# float operators
added_float = 11 + 2.4
subtracted_float = 10.2 - 2
multiplied_float = 10.44 * 2
'''In particular division always return a float, for integer result
   use the floor division'''
divided_float = 10 / 2.6
# pow operator in python
powered_float = 10.57 ** 2
# module operator python
moduled_float = 11.45 % 5
# floor division python
floor_divided_float = 12.45//2

print('10 + 2.4')
print(added_float)
print()
print('10.2 - 2')
print(subtracted_float)
print()
print('10.44 * 2')
print(multiplied_float)
print()
print('10 / 2.6')
print(divided_float)
print()
print('10.57 ** 2')
print(powered_float)
print()
print('11.45 % 5')
print(moduled_float)
print()
print('12.45 // 2')
print(floor_divided_float)

print('-----------------------------------')

-----------------------------------
<class 'float'>
<class 'float'>
<class 'float'>
<class 'float'>
-----------------------------------
10 + 2.4
13.4

10.2 - 2
8.2

10.44 * 2
20.88

10 / 2.6
3.846153846153846

10.57 ** 2
111.7249

11.45 % 5
1.4499999999999993

12.45 // 2
6.0
-----------------------------------

#### Booleans

In [60]:
print('-----------------------------------')

A = True
B =  False

# boolean identification
'''The type of boolean member is bool'''
print(type(A))
print(type(B))

print('-----------------------------------')

# boolean operations
'''The basic boolean operations'''
print('and')
print('True and True')
print(True and True)
print('True and False')
print(True and False)
print('False and True')
print(False and True)
print('False and False')
print(False and False)
print('')
print('or')
print('True or True')
print(True or True)
print('True or False')
print(True or False)
print('False or True')
print(False or True)
print('False or False')
print(False or False)
print('')
print('not')
print('not True')
print(not True)
print('not False')
print(not False)

-----------------------------------
<class 'bool'>
<class 'bool'>
-----------------------------------
and
True and True
True
True and False
False
False and True
False
False and False
False

or
True or True
True
True or False
True
False or True
True
False or False
False

not
not True
False
not False
True

#### Integer, Float and String transformations

In [61]:
float_example_1 = 205.45
float_example_2 = -204.67
integer_example_1 = 20
integer_example_2 = -23
string_example_1 = '123'
string_example_2 = '254.6'

print('-----------------------------------')

print('integer transformation')
# transformations to integer
print(float_example_1, end=' -> ')
print(int(float_example_1))
print(float_example_2, end=' -> ')
print(int(float_example_2))
print(string_example_1, end=' -> ')
print(int(string_example_1))

print('-----------------------------------')

print('float transformation')
# transformation to float
print(float_example_1, end=' -> ')
print(float(integer_example_1))
print(float_example_2, end=' -> ')
print(float(integer_example_2))
print(string_example_1, end=' -> ')
print(float(string_example_1))
print(string_example_2, end=' -> ')
print(float(string_example_2))

print('-----------------------------------')

print('string transformation')
# transformation to string
print(integer_example_1, end=' -> ')
print(str(integer_example_1))
print(integer_example_2, end=' -> ')
print(str(integer_example_2))
print(float_example_1, end=' -> ')
print(str(float_example_1))
print(float_example_2, end=' -> ')
print(str(float_example_2))

print('-----------------------------------')

-----------------------------------
integer transformation
205.45 -> 205
-204.67 -> -204
123 -> 123
-----------------------------------
float transformation
205.45 -> 20.0
-204.67 -> -23.0
123 -> 123.0
254.6 -> 254.6
-----------------------------------
string transformation
20 -> 20
-23 -> -23
205.45 -> 205.45
-204.67 -> -204.67
-----------------------------------

#### Boolean evaluation

In [62]:
false_string = ''
true_string = 'anything'
false_int = 0
true_int = 23
false_float = 0.0
true_float = -122.2

print('-----------------------------------')

# bool evaluation of values
''' In python every object can have a definition for its
    boolean value'''
print("''")
print(bool(false_string))
print()
print(true_string)
print(bool(true_string))
print()
print(false_int)
print(bool(false_int))
print()
print(true_int)
print(bool(true_int))
print()
print(false_float)
print(bool(false_float))
print()
print(true_float)
print(bool(true_float))

print('-----------------------------------')

-----------------------------------
''
False

anything
True

0
False

23
True

0.0
False

-122.2
True
-----------------------------------

### Data collections

#### List

In [63]:
list_a = [1, 'a', 32.5, True]

print('-----------------------------------')

# we preferentially always create a list using []
print(list_a)

print('-----------------------------------')

''' len is a attribute tha brings the lenght of the
    list so we can use it in constant time'''

print(len(list_a))

print('-----------------------------------')

# access to the first element of a list
print(list_a[0])

print('-----------------------------------')

# access to the las element of a list, works but
print(list_a[len(list_a) - 1])

# this work better
print(list_a[-1])

print('-----------------------------------')

# we can add and remove elements

print(list_a)
list_a.append('potatoes')

print(list_a)
# remove by element
list_a.remove(32.5)
print(list_a)
# remove by index
del list_a[0]
print(list_a)

# also we can change element values

list_a[0] = 3.1416
print(list_a)


print('-----------------------------------')

-----------------------------------
[1, 'a', 32.5, True]
-----------------------------------
4
-----------------------------------
1
-----------------------------------
True
True
-----------------------------------
[1, 'a', 32.5, True]
[1, 'a', 32.5, True, 'potatoes']
[1, 'a', True, 'potatoes']
['a', True, 'potatoes']
[3.1416, True, 'potatoes']
-----------------------------------

In [64]:
print('-----------------------------------')

list_b = [10, 20, 30, 40, 50, 60,
          70, 80, 90, 100]

# list support slicing as string does

print(list_b[::2])
print(list_b[1::2])
print(list_b[3:])
print(list_b[:5])

# extra trick reverse for strings and for list

print(list_b[::-1])

print('-----------------------------------')

-----------------------------------
[10, 30, 50, 70, 90]
[20, 40, 60, 80, 100]
[40, 50, 60, 70, 80, 90, 100]
[10, 20, 30, 40, 50]
[100, 90, 80, 70, 60, 50, 40, 30, 20, 10]
-----------------------------------

#### Tuple

In [65]:
'''A tuple is a static connection so at difference of
   list you can't change values of the elements and 
   can't add or remove elements'''

print('-----------------------------------')

tuple_a = (23, 45, 234.56, True, 'hello')
print(tuple_a)

print('-----------------------------------')

#it still support slicing
print(tuple_a[::2])
print(tuple_a[1::2])
print(tuple_a[3:])
print(tuple_a[:3])
print(tuple_a[::-1])

# extra for create a single element tuple in case of need

x = (123)
y = (123, )

# only y will be a tuple

print('-----------------------------------')

print(type(x))
print(type(y))

print('-----------------------------------')

-----------------------------------
(23, 45, 234.56, True, 'hello')
-----------------------------------
(23, 234.56, 'hello')
(45, True)
(True, 'hello')
(23, 45, 234.56)
('hello', True, 234.56, 45, 23)
-----------------------------------
<class 'int'>
<class 'tuple'>
-----------------------------------

In [66]:
# for demostration

y = (123, )

y[0] = 'potato'

TypeError: 'tuple' object does not support item assignment

In [ ]:
# for demostration

y = (123, )

del y[0]

TypeError: 'tuple' object doesn't support item deletion

#### Set

In [ ]:
'''A set is a unordered collection that dont allow for duplicates
   and support set operations'''

# for create a set

print('-----------------------------------')

list_a = [10, 20, 30, 40, 50]
tuple_a = (40, 50, 60, 70, 80)

set_a = set(list_a)
set_b = set(tuple_a)
set_c = {70, 80, 90, 100, 120}

print(set_a)
print(type(set_a))
print(set_b)
print(type(set_b))
print(set_c)
print(type(set_c))

# set operations

print('-----------------------------------')

print(set_a, ' union ', set_b)
print(set_a.union(set_b))

print('-----------------------------------')

print(set_a, ' intersection ', set_b)
print(set_a.intersection(set_b))

print('-----------------------------------')

print(set_a, ' difference ', set_b)
print(set_a.difference(set_b))

print('-----------------------------------')

print(set_a, ' symmettic difference ', set_b)
print(set_a.symmetric_difference(set_b))

print('-----------------------------------')

-----------------------------------
{40, 10, 50, 20, 30}
<class 'set'>
{70, 40, 80, 50, 60}
<class 'set'>
{80, 100, 70, 120, 90}
<class 'set'>
-----------------------------------
{40, 10, 50, 20, 30}  union  {70, 40, 80, 50, 60}
{70, 40, 10, 80, 50, 20, 60, 30}
-----------------------------------
{40, 10, 50, 20, 30}  intersection  {70, 40, 80, 50, 60}
{40, 50}
-----------------------------------
{40, 10, 50, 20, 30}  difference  {70, 40, 80, 50, 60}
{10, 20, 30}
-----------------------------------
{40, 10, 50, 20, 30}  symmettic difference  {70, 40, 80, 50, 60}
{80, 20, 70, 10, 60, 30}
-----------------------------------

#### Dict

In [67]:
# Dict are the hash implementation of python
# it maps a value to a given unique key

# create a dict

dict_a = {1: 'potatoes', 'strawberry': 345, 120: True}

print('-----------------------------------')

print(dict_a)
print(type(dict_a))

print('-----------------------------------')

# access to a object in a dict

print(dict_a['strawberry'])
print(dict_a[120])

print('-----------------------------------')

# add a value to a dict

print(dict_a)
dict_a['berry'] = False
print(dict_a)

print('-----------------------------------')

# modify a value in a dict

print(dict_a)
dict_a['berry'] = True
print(dict_a)

print('-----------------------------------')

-----------------------------------
{1: 'potatoes', 'strawberry': 345, 120: True}
<class 'dict'>
-----------------------------------
345
True
-----------------------------------
{1: 'potatoes', 'strawberry': 345, 120: True}
{1: 'potatoes', 'strawberry': 345, 120: True, 'berry': False}
-----------------------------------
{1: 'potatoes', 'strawberry': 345, 120: True, 'berry': False}
{1: 'potatoes', 'strawberry': 345, 120: True, 'berry': True}
-----------------------------------